<!DOCTYPE html>

	<html ng-app="store">
		<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		</head>
		<!-- attach controller to this element, scope of this controller is only within this given element -->
		<body = ng-controller="StoreController as store">
			<!-- ng-repeat to iterate thru array of gems! -->
			<div ng-repeat="product in store.products">
					<h1> {{product.name}} </h1>
					<!-- our first filter -->
					<h2> {{product.price | currency}} </h2>
					<p> {{product.description}}</p>

					 <ul ng-repeat ="image in product.images" >
					<!-- ng-src allows you to load stuff from the js properly -->
            		<img ng-src="{{product.images[0].thumb}}" />
            		</ul>
					<!-- only shows when canPurchase is true, b/c of ng-show -->
					<button ng-show="product.canPurchase"> Add to Cart </button>


					<!-- make controller for panel logic in app.js -->
					<section  ng-controller="PanelController as panel">
						<ul class = "nav nav-pills">
							<!-- ng-class allows dynamic setting of css classes with databinding for all classes to be added -->
							<li ng-class="{ active: panel.isSelected(1) }"> 
								<!-- ng-click adds behaviors on-click! -->
								<!-- calling setTab with controller -->
								<a href ng-click="panel.selectTab(1)"> Description </a>
							 </li>
							<li ng-class="{ active: panel.isSelected(2) }"> 
								<a href ng-click="panel.selectTab(2)"> Specifications </a> 
							</li>
							<li ng-class="{ active: panel.isSelected(3) }"> 
								<a href ng-click="panel.selectTab(3)"> Reviews </a> 
							</li>
						</ul>
					
					{{tab}}
					<!-- ng-show adds showing behavior when tab is clicked -->
					<div class="panel" ng-show="panel.isSelected(1)">
						<h4> Description</h4>
						<p> {{product. description}} </p>
					</div>

					<div class="panel" ng-show="panel.isSelected(2)">
						<h4> Specifications</h4>
						<p> None yet </p>
					</div>

					<div class="panel" ng-show="panel.isSelected(3)">
						<h4> Reviews</h4>
						<p> None yet </p>
					</div>
					</section>

			</div>
			<script type ="text/javascript"  src="/bower_components/angular/angular.js"> </script>
			<script type ="text/javascript"  src="/js/app.js"> </script>
			
		</body>
	</html>
