<section>
	<ul class = "nav nav-pills">
		<!-- ng-class allows dynamic setting of css classes with databinding for all classes to be added -->
		<li ng-class="{ active: panel.isSelected(1) }"> 
			<!-- ng-click adds behaviors on-click! -->
			<!-- calling setTab with controller -->
			<a href ng-click="panel.selectTab(1)"> Description </a>
		</li>
		<li ng-class="{ active: panel.isSelected(2) }"> 
			<a href ng-click="panel.selectTab(2)"> Specifications </a> 
		</li>
		<li ng-class="{ active: panel.isSelected(3) }"> 
			<a href ng-click="panel.selectTab(3)"> Reviews </a> 
		</li>
	</ul>

	{{tab}}
	<!-- ng-show adds showing behavior when tab is clicked -->
	<div class="panel" ng-show="panel.isSelected(1)">
		<h4> Description</h4>
		<p> {{product. description}} </p>
	</div>

	<div class="panel" ng-show="panel.isSelected(2)">
		<h4> Specifications</h4>
		<p> None yet </p>
	</div>

	<div class="panel" ng-show="panel.isSelected(3)">
		<h4> Reviews</h4>
		<blockquote ng-repeat="review in product.review">
			<strong>{{review.stars}}</strong>
			<b>{{review.body}} </b>
			<cite> by: {{review.author}} </cite>
		</blockquote>
	</div>
</section>


